.containerName {
  border: 1px solid black;
  background-color: white;
  border-radius: 10px;
  width: fit-content;
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.groupContainer {
  background-color: white;
  color: #121212;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 5px;
  padding-left: 100px;
  padding-right: 100px;
  border: solid 1px pink;
}

body {
  background-color: #121212;
  color: white;
}

.group__holder {
  display: flex;
}

.list__holder {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player__holder {
  justify-content: center;
  color: black;
  display: flex;
}

.player__name {
  font-weight: bold;
  font-size: 24px;
}

.form__holder {
  margin: 20px;
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.player__desc {
  border: solid 1px black;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

.player__group__list {
  display: flex;
}

.player__desc__name {
  font-size: 24px;
  font-weight: bold;
}

.player__desc__score {
  font-size: 16px;
  color: #0a2463;
  font-weight: bold;
}

.player__desc__wins {
  color: #3e92cc;
}

.player__desc__looses {
  color: #f8333c;
}
